<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Game Board</title>
        <script src="/js/boardCreation.js"></script>
        <link href="/css/style.css" rel="stylesheet">
    </head>

    <body>
        <h1>Create a Board</h1>

        <!-- This is the navigation bar -->
        <div class="nav">
            <a class="active" href="/">Home</a>
            <a href="#characters">My Characters</a>
            <a href="#monsters">My Monsters</a>
            <a href="/boardMaker">My Maps</a>
            <a href="#adventures">My Adventures</a>
            <a href="#logs">My Logs</a>
            <a href="#community">Community Hub</a>
            <a href="#logIn">Log In</a>
        </div>
        <br>

        <!--Width input-->
        <label for="width">Width:</label>
        <input type="text" id="width">

        <!--Height input-->
        <label for="height">Height:</label>
        <input type="text" id="height">

        <!--Board creation button-->
        <button>Create Board</button>
    </body>
</html>