<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Game Board</title>
        <script src="/js/boardCreation.js"></script>
        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/board.css" rel="stylesheet">
    </head>

    <body>
        <h1>Create a Board</h1>

        <!-- This is the navigation bar -->
        <div class="nav">
            <a class="home" href="/">Home</a>
            <a href="/character">Characters/NPCs</a>
            <a href="/boardMaker">My Maps</a>
            <a href="#adventures">My Adventures</a>
            <a class="account" href="#account">Create New Account</a>
            <a class="inLog" href="#logIn">Log In</a>
        </div>
        <br>
        
        <main>
            <div id="board">
                <!--Width input-->
                <label for="width">Width:</label>
                <input type="text" id="width">

                <!--Height input-->
                <label for="height">Height:</label>
                <input type="text" id="height">

                <!--Board creation button-->
                <button id="create">Create Board</button>

                <!--Instructions-->
                <p>Put in the width and height of the board, then click on cells to make them walls</p>
            </div>

            <!--List of characters for board-->
            <div id="character">Characters:</div>
        </main>
    </body>
</html>