<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Game Board</title>
        <script src="boardCreation.js"></script>
    </head>

    <body>
        <h1>Create a Board</h1>

        <!--Width input-->
        <label for="width">Width:</label>
        <input type="text" id="width">

        <!--Height input-->
        <label for="height">Height:</label>
        <input type="text" id="height">

        <!--Board creation button-->
        <button>Create Board</button>
    </body>
</html>>