<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Characters</title>
        <script src="charNPC.js"></script>
    </head>
<body>
<h1>My Characters</h1>
<label for="Name">Name:</label>
<input type="text" id="Name">
<select name="class" id="characterClass">
<option value="paladin">Paladin</option>
</select> 
<input type="number" name="quantity" id="level" min="1" max="20">
<label for="playerName">Player/DM Name</label>
<input type="text" id="playerName">
<div>
</div>
<select name="race">
    <option value="human">Human</option>
    </select> 
<select name="alighment">
        <option value="chaotic neutral">Chaotic Neutral</option>
        </select> 
<input type="number" name="generic" id="exp" min="0">     
</body>
</html>