<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Characters</title>
        <script src="charNPC.js"></script>
    </head>
<body>
<textarea id="name">Name:</textarea>
<select name="class" id="characterClass">
<option value="paladin">Paladin</option>
</select> 
<input type="number" name="quantity" id="level" min="1" max="20">
<textarea id="playerName">Player/DM Name:</textarea>
<select name="race">
    <option value="human">Human</option>
    </select> 
<select name="alighment">
        <option value="chaotic neutral">Chaotic Neutral</option>
        </select> 
<input type="number" name="generic" id="exp" min="0">     
</body>
</html>