<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Characters</title>
        <script src="/js/charNPC.js"></script>
        <link href="/css/style.css" rel="stylesheet">
    </head>
<body>
<h1>My Characters</h1>

<!-- This is the navigation bar -->
<div class="nav">
    <a class="home" href="/">Home</a>
    <a href="/character">Characters/NPCs</a>
    <a href="/boardMaker">My Maps</a>
    <a href="#adventures">My Adventures</a>
    <a class="account" href="#account">Create New Account</a>
    <a class="inLog" href="#logIn">Log In</a>
</div>

<p>
<label for="Name">Name:</label>
<input type="text" id="Name">
<label for="characterClass">Class:</label>
<select name="class" id="characterClass">
<option value="paladin">Paladin</option>
<option value="sorcerer">Sorcerer</option>
<option value="wizard">Wizard</option>
<option value="ranger">Ranger</option>
<option value="cleric">Cleric</option>
<option value="warlock">Warlock</option>
</select> 
<label for="level">Level:</label>
<input type="number" id="level" min="1">
<label for="playerName">Player/DM Name:</label>
<input type="text" id="playerName">
</p>
<p>
 <label for="r">Race:</label>
    <select name="race" id="r">
        <option value="human">Human</option>
        <option value="dragonborn">Dragonborn</option>
        <option value="dwarf">Dwarf</option>
        <option value="aasimar">Aasimar</option>
        <option value="elf">Elf</option>
        <option value="half-elf">Half-Elf</option>
        <option value="half-orc">Half-Orc</option>
        <option value="tiefling">Tiefling</option>
        </select> 
<label for="a">Alignment:</label>
    <select name="alighment" id="a">
            <option value="lawful good">Lawful Good</option>
            <option value="neutral good">Neutral Good</option>
            <option value="chaotic good">Chaotic Good</option>
            <option value="lawful neutral">Lawful Neutral</option>
            <option value="true neutral">True Neutral</option>
            <option value="chaotic neutral">Chaotic Neutral</option>
            <option value="lawful evil">Lawful Evil</option>
            <option value="neutral evil">Neutral Evil</option>
            <option value="chaotic evil">Chaotic Evil</option>
            </select> 
<label for="exp">Experience Points:</label>
    <input type="number" id="exp" min="0">  
    <label for="ct">Character or NPC:</label>
    <select name="characterType" id="ct">
            <option value="Character">Character</option>
            <option value="NPC">NPC</option>
            </select>   
</p>
<p>
    <label for="str">Strength:</label>
    <input type="number" id="str" min="3" max="18">
    <label for="dex">Dexterity:</label>
    <input type="number" id="dex" min="3" max="18">
    <label for="con">Constitution:</label>
    <input type="number" id="con" min="3" max="18">
    <label for="int">Intelligence:</label>
    <input type="number" id="int" min="3" max="18">
    <label for="wis">Wisdom:</label>
    <input type="number" id="wis" min="3" max="18">
    <label for="cha">Charisma:</label>
    <input type="number" id="cha" min="3" max="18">
</p> 
<p>
    <label for="ins">Inspiration:</label>
    <input type="number" id="ins" min="0">
    <label for="armor">Armor Class:</label>
    <input type="number" id="armor" min="0">
</p>
<p>
    <label for="speed">Speed:</label>
    <input type="number" id="speed" min="0">
    <label for="hp">Hit Points:</label>
    <input type="number" id="hp" min="0">
    <label for="equiptment">Equiptment:</label>
    <input type="text" id="equiptment">
</p>
<p>
    
</p>
<p>
    
</p>
<p>
    
</p>
<p>
    
</p>
<button id="submit">Save</button>
</body>
</html>