<!DOCTYPE html>
<html>

    <head>
        <title>Roll 2000</title>
        <link href="/css/style.css" rel="stylesheet">
    </head>
    
    <body>
        <h1>Roll 2000</h1>
        <!-- test comment-->
        <!-- This is the navigation bar -->
        <div class="nav">
            <a class="home" href="/">Home</a>
            <a href="/character">Characters/NPCs</a>
            <a href="/Spell">Spells</a>
            <a href="/boardMaker">My Maps</a>
            <a class="account" href="#account">Create New Account</a>
            <a class="inLog" href="#logIn">Log In</a>
        </div>

        <h2>Welcome to Roll 2000!</h2>
        <br>
        <br>

        <div class="home-inputs">
            <a href="#begin">Create a New Session</a>
            <a href="#continue">Resume Session</a>
        </div>

    </body>
    
    </html>