<!DOCTYPE html>
<html>

    <head>
        <title>Roll 2000</title>
        <link href="/css/style.css" rel="stylesheet">
    </head>
    
    <body>
        <h1>Roll 2000</h1>
        
        <!-- This is the navigation bar part -->
        <div class="nav">
            <a class="active" href="/">Home</a>
            <a href="#characters">My Characters</a>
            <a href="#monsters">My Monsters</a>
            <a href="/boardMaker">My Maps</a>
            <a href="#adventures">My Adventures</a>
            <a href="#logs">My Logs</a>
            <a href="#community">Community Hub</a>
            <a href="#logIn">Log In</a>
        </div>
    
        <!-- This is the information log html part-->
        <div class="info-wrapper">
    
        </div>
    
        <!--<script src="/js/infoLog.js"></script>-->
    </body>
    
    </html>