table {
    border: 3px black solid;
    background-color: burlywood;
    width: 100%;
    margin-top: 20px;
}

td {
    border: 3px black solid;
    background-color: beige;
    padding: 5px;
}

.wall {
    background-color: grey;
}

main {
    display: flex;
}

main > div {
    margin: 5px;
}

#character {
    flex: 0 1 20%;
}

#board {
    flex: 0 1 80%;
}

div > p {
    margin: 0px;
}