.small {
    width: 15%; 
}

body {
    background-color: white;
}

.nav {
    overflow: hidden;
    background-color: black;
}

.nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: lightgray;
    color: black;
}
  
.nav a.home {
    background-color: black;
    color: white;
}

.nav a.home:hover {
    background-color: lightgray;
    color: black;
}

.nav a.inLog {
    float: right;
    background-color: black;
    color: white;
}

.nav a.inLog:hover {
    background-color: lightgray;
    color: black;
}

.nav a.account {
    float: right;
    color: white;
    text-decoration: none;
    background-color: purple;
    text-align: center;
}

.nav a.account:hover {
    background-color: rgb(165, 0, 165);
}

.info-wrapper {
    display: flex;
    
}

.home-inputs {
    display: flex;
    padding: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.home-inputs a {
    padding: 10px;
    color: black;
    text-decoration: none;
    border: 1px black solid;
    background-color: lightgoldenrodyellow;
    text-align: center;
    flex: 0 1 30%;
}

