.small {
    width: 15%; 
}

body {
    background-color: white;
}

.nav {
    overflow: hidden;
    background-color: black;
}

.nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: lightgray;
    color: black;
}
  
.nav a.active {
    background-color: purple;
    color: white;
}



.info-wrapper {
    display: flex;
    
}